body {
  font-size: 16px;
  color: #ccc;
  background-color: #555555;
  font-family: 'Quicksand', sans-serif;
}

#header-nav {
	background-color: #ccc;
	border-radius: 0;
	border: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand h1 { 
  color: #4871ad;
  font-size: 1.75em;
  font-weight: bold;
  line-height: .75;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-color: #000;
}



.navbar-header button {
  	background-color: #9fbcbf;
	border-color: #000;
	opacity: .8;
}

.navbar-header button:hover, .navbar-header button:focus {
  	background-color: #888;
	border-color: #000;
	opacity: .5;
}

#top {
  border: 0;
  border-color: #000;
}

.chicken {
	background-color: #eee;
}

.beef {
	background-color: #9fbcbf;
}

.sushi {
	background-color: #d5fbff;
}

a.chicken a:hover{
	background-color: #b29a86;
}

a.beef a:hover{
	background-color: #ccb099;
}

a.sushi a:hover{
	background-color: #ccb099;
}

h2 {
	margin-top: 50px;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 30px;
    margin-top: 20px;
}

.lots {
	padding: 30px;
	background-color: #222;
	width: 100%;
}

p {
	margin-bottom: 40px;
}

.row a {
	color: #d5fbff;
	width: 100%;
}

#return span {
	color: #d5fbff;
}

#column {
	margin-bottom: 50px;
}

.navbar-header: focus {
	border-style: none;
}

*:focus {
    outline: none;
}
